.devDocs {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.devDocsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.devDocsTitle {
    margin-bottom: 24px;
}

.devDocsTitle span {
    font-size: 42px;
    font-weight: 800;
}

.devDocsDesc span {
    font-size: 24px;
}

.devDocsBody {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f5ff;
    width: 70%;
    height: 40%;
    font-size: 24px;
}
