.userDocs {
  width: 100%;
  height: 60vh;
  background-color: white;
}

.desktopUserDocs {
  padding-top: 80px;
}

.desktopUserDocs .userDocsHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
}

.desktopUserDocs.userDocsTitle {
  margin-bottom: 24px;
}

.desktopUserDocs .userDocsHeader .userDocsTitle span {
  font-size: 42px;
  font-weight: 800;
}

.desktopUserDocs .userDocsHeader .userDocsDesc {
  margin-bottom: 30px;
}

.desktopUserDocs .userDocsHeader .userDocsDesc span {
  font-size: 24px;
  color: black;
}

.desktopUserDocs .userDocsBody {
  height: 100%;
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
  justify-content: space-around;
}

.desktopUserDocs .userDocsBody .cardItem {
  width: 330px;
  background-color: #e8eaf3;
  border-radius: 15px;
  padding: 20px;
  height: 380px;
}

.desktopUserDocs .userDocsBody .cardItem .cardTitle {
  width: 100%;
  height: 20%;
  text-align: center;
  font-weight: bold;
}

.desktopUserDocs .userDocsBody .cardItem .cardDetail {
  width: 100%;
  line-height: 190%;
  font-size: 1vw;
}

.desktopUserDocs .logoWrapper {
  width: 400px;
  height: 350px;
  background-image: url(img/logo.PNG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mobileUserDocs {
  padding-top: 80px;
}

.mobileUserDocs .userDocsHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mobileUserDocs.userDocsTitle {
  margin-bottom: 24px;
}

.mobileUserDocs .userDocsHeader .userDocsTitle span {
  font-size: 28px;
  font-weight: 800;
}

.mobileUserDocs .userDocsHeader .userDocsDesc {
  margin-bottom: 30px;
}

.mobileUserDocs .userDocsHeader .userDocsDesc span {
  font-size: 18px;
  color: black;
}

.mobileUserDocs .userDocsBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mobileUserDocs .userDocsBody .cardItem {
  width: 70%;
  background-color: #e8eaf3;
  height: 400px;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 45px 45px;
  text-align: center;
}
