.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    /* border: 1px solid blue; */
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}

.menuWrapper {
    width: 40%;
    height: 100%;
    /* border: 4px solid pink; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menuItem span {
    font-size: 24px;
    color: #fff;
    font-weight: 800;
    cursor: default;
}

.menuItem span:hover{
    color:rgb(179, 179, 179);
}
