.card {
    height: 279px;
    width: 200px;
    background: #808080;
    border-radius: 10px;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card :hover {
    cursor: pointer;
}
